@import "../../node_modules/swiper/swiper.min.css";
@import "../../node_modules/sass-rem/_rem.scss";
@import "./divide/font";

/*
display
clear
float
overflow
position
top
right
botton
left
z-index
width
height
margin
padding
background:#color (url) no-repeat x y;
background-size:;
border
color
font-size
font-weight
text-overflow
text-align
line-height
text-indent
transform
transition
box-sizing
white-space

::after {
  display: block;
  clear: both;
  content: "";
};
*/

@function getPercentage($width) {
    $result: 1;
        
    $result: $width / 360 * 100;
    @return $result;
}

html {
    -webkit-text-size-adjust: none;
}

//width
$width: rem(360px);

//TEXT
$black: #1e1e1e;
$dark: #646464;
$medium: #a0a0a0;
$silver: #c8c8c8;
$white: #fff;

//LINE, BG, BORDER
$charcole: #323232; //차콜
$light: #eaeaea;
$bright: #f6f6f6;

//SYSTEM
$red: #ff2600;
$yellow: #fab200;
$green: #3ab505;

// $background: $black;
// $filterPoint: rgba(70, 0, 0, 0.96);


// $background: #263238;
// $filterPoint: #20282d; 

// $background: #282740;
// $filterPoint: rgba(26,25,40, 0.96);//#1a1928;

$background: #272536;
$filterPoint: rgba(24, 24, 33, 0.96);

//POINT
$pcolor: #0489ff;

//FONT 국문
$font_noto: "SpoqaHanSansNeo", "Notosans", sans-serif;

//FONT 숫자, 영문
$font_n: $font_noto;

%clear {
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

%scroll {
    overflow-y: hidden;
    overflow-x: auto;
    margin-left: rem(-20px) !important;
    padding-left: rem(20px) !important;
    padding-right: rem(20px); 
    font-size: 0;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;

        &-thumb {
            display: none;
        }

        &-button {
            display: none;
        }
    }
}

%scrollHideLeft {
    overflow-y: hidden;
    overflow-x: auto;
    padding-right: rem(20px); 
    font-size: 0;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;

        &-thumb {
            display: none;
        }

        &-button {
            display: none;
        }
    }
}

// 모든 "-" 폰트에 대한 설정은 부모한테서 받아옴!
%dash {
    position: relative;
    padding-left: rem(10px);

    &:before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
    }
}

//image url
@function src($folder: 'guide', $filename: "") {
    @return  "../images/#{$folder}/#{$filename}";
}

//font
@mixin fontcss($color: $black, $weight: 200, $size: rem(14px), $lineheight: 1) {
    @if ($color) {
        color: $color;
    }
    @if ($weight) {
        font-weight: $weight;
    }
    @if ($size) {
        font-size: $size;
    }
    @if ($lineheight) {
        line-height: $lineheight;
    }
}

//말줄임 후략
@mixin line($lineCount: 1) {
    /* 사용법 : @include line(라인수) */
    @if ($lineCount == 1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    // 말줄임 후략 없앨때 (커스텀할때)
    @else if ($lineCount == 0) {
        display: block;
        overflow: visible;
        text-overflow: initial;
        -webkit-box-orient: initial;
        -webkit-line-clamp: initial;
        white-space: initial;
    } 
    @else {
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-line-clamp: $lineCount;
    }
}

//이미지 리사이징
@mixin imageResize($type: "width") {
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        
        @if ($type == "width") {
            width: 100%;
            height: auto;
        }
        @else if ($type == "height") {
            width: auto;
            height: 100%;
        }
        @else if ($type == "auto") {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        // 디밀 상품이미지 1:1 비율 고정
        @else if ($type == "fix") {
            width: 100%;
            height: 100%;
        }
    }
}

//좌측 구분선 |
@mixin division($color: #ccc, $space: rem(32px), $height: rem(18px)) {
    position: relative;
    padding-left: $space;

    &:before {
        position: absolute;
        top: 50%;
        left: calc(#{$space} / 2 - #{rem(2px)});
        width: rem(2px);
        height: $height;
        background: $color;
        transform: translate(0, -50%);
        content: "";
    }
}

//하단 구분선 (굵은 보더)
@mixin wrapSect($type: "block", $padding: 0, $margin: -20px) {

    @if ($type == "block") {
        &:after {
            display: block;
            width: 100%;
            height: rem(6px);
            background: $bright;
            content: "";
        }
    }

    @else if ($type == "position") {
        position: relative;
        padding-bottom: rem(6px + $padding);

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(6px);
            background: $bright;
            content: "";
        }
    }

    @else if ($type == "margin") {
        &:after {
            display: block;
            height: rem(6px);
            margin: rem(0 $margin);
            background: $bright;
            content: "";
        }
    }
}

@import "./divide/reset";
@import "./divide/common";
@import "./divide/layout";

// page scss
@import "./divide/list";
@import "./divide/detail";
@import "./divide/filter";

