//공통
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

body {
	-webkit-text-size-adjust: 100%;
    font-family: $font_n;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-size: rem(14px);
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
}

legend {
    background-color: transparent;
    border: 0;
    color: transparent;
    font-size: 0;
    text-shadow: none;
}

button {
    padding: 0;
    border: 0;
    background: none;
    outline: 0;
    user-select: none;
}

label {
    display: block;
	border: 0;
	cursor: pointer;
}

input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
	vertical-align: middle;
    
    &::-ms-clear {
        display: none;
    }

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
}

@mixin defaultInputStyle() {
    width: 100%;
    padding: rem(16px 52px 16px 16px);
    border: 1px solid $light;
    border-radius: rem(6px);
    color: $black;
    font-weight: 200;
    font-size: rem(14px);
    box-sizing: border-box;

    &::placeholder {
        color: $medium;
    }

    &:focus {
        border-color: $black;
    }

    &:disabled {
        border-color: $light;
        background: $bright;
        color: $silver;
    }
}

input[type='text'] {
    @include defaultInputStyle;
}

input[type='tel'] {
    @include defaultInputStyle;
}

input[type='search'] {
    @include defaultInputStyle;

    &::-webkit-search-cancel-button {
        display: none;
        appearance: none;
    }
}

input[type='password'] {
    @include defaultInputStyle;
}

input[type='number'] {
    @include defaultInputStyle;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}

input[type="file"] {
    &.file-upload {
        float: left;
        width: rem(140px);
        height: rem(140px);
        opacity: 0;
    }

    &::-webkit-file-upload-button {
        opacity: 0;
    }
}

select {
    outline: none;
    appearance: none;
    width: 100%;
    padding: rem(14px 46px 14px 16px);
    background: #fff url("/assets/images/guide/ico-dropdown-14-x-8.svg") no-repeat calc(100% - #{rem(16px)}) center / rem(14px 8px);
    border: 1px solid $light;
    border-radius: rem(6px);
    @include fontcss($black, 600, rem(13px), 1.2);
    vertical-align: middle;
    box-sizing: border-box;

    &:focus {
        border-color: $black;
    }
    
    &:disabled {
        background: {
            color: $bright;
            image: url("/assets/images/guide/ico-dropdown-14-x-8-grey.svg");
        }
        border-color: $light;
        color: $silver;
    }

    &::-ms-expand {
        display: none;
    }
}

table {
    caption {
        display: none;
    }
}

textarea {
    resize: none;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    padding: rem(16px);
    border: 1px solid $light;
    border-radius: 0;
    color: $black;
    font-weight: 200;
    font-size: rem(14px);
    line-height: rem(20px);
    text-indent: 0;
    
    &::placeholder {
        color: $medium;
    }
}

i, em, address {
    font-style: normal;
}

//ie 때문에 추가
details {
    summary {
        display: block;
        list-style: none; // 기본css 제거
    }

    & > summary::-webkit-details-marker {
        display: none; // 기본css 제거 : 크롬 및 ios
    }

    summary + * {
        display: none;
    }

    &[open] {
        summary + * {
            display: block;
        }
    }
}


strong {
    font-weight: 600;
}

em {
    font-weight: inherit; //이슈있으면 다시 돌려야함
}

//개발에서 추가한 태그
page {
    display: block;
    height: 1px;
}