
.fb {
    &__detail {
        $layerAnimationTime: 0.4s;
        %scrollCss {
            overflow: auto;
            margin: rem(0 -20px);
            padding: rem(0 20px);
            white-space: nowrap;
        
            &::-webkit-scrollbar {
                display: none;
            }
        }

        overflow-y: auto; 
        position: fixed;
        top: rem(-10px);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
        height: 100%;
        padding-bottom: rem(32px);
        transition: all $layerAnimationTime ease-in-out;
        
        &.active {
            top: 0;
            // background: $bright;
            background: $black;

            .fb__list__thumb {
                width: 100%;
                margin: 0;

                border-top: {
                    left-radius: 0;
                    right-radius: 0;
                }

                transition: all $layerAnimationTime ease-in-out;

                img {
                    border-top: {
                        left-radius: 0;
                        right-radius: 0;
                    }

                    transition: all $layerAnimationTime ease-in-out;
                }
            }    
            
            .fb__detail__close {
                opacity: 1;
                transition: all 0.8s ease-in-out;
            }
        }
        
        .fb {
            &__list {
                &__summary {
                    display: block;
                    padding: rem(0 20px);
                    // padding-left: rem(24px);
                }

                &__name {
                    @include line(0);
                }

                &__thumb {
                    width: rem(300px);
                    height: auto;
                    // margin: rem(80px 0 0 12px);
                    margin: rem(180px 0 0 12px);

                    img {
                        height: auto;
                    }
                }
            }
        }
        
        &__close {
            position: absolute;
            top: rem(20px);
            right: rem(20px);
            z-index: 1;
            width: rem(30px);
            height: rem(30px);
            background: rgba(255, 255, 255, 0.4) url("/assets/images/guide/ico-header-close-white.svg") no-repeat center center / rem(15px 15px);
            border-radius: 50%;
            font-size: 0;
            opacity: 0;
        }

        &__section {
            margin-top: rem(24px);
        }

        &__title {
            display: block;
            margin-bottom: rem(12px);
            @include fontcss($white, 600, rem(20px), 1.5);
        }        

        &__cast {
            .cast {
                &__list {
                    @extend %scrollCss;
                }

                &__card {
                    display: inline-block;
                    width: rem(120px);
                    margin-right: rem(20px);
                    vertical-align: top;

                    &:last-child {
                        margin-right: 0;
                    }

                    &__thumb {
                        min-height: rem(180px);
                        
                        img {
                            overflow: hidden;
                            border-radius: rem(6px);
                        }
                    }

                    &__name {
                        display: block;
                        margin-top: rem(4px);
                        @include fontcss($dark, 400, rem(12px), 1.5);
                        text-align: center;
                    }
                }

            }
        }

        &__video {
            .video {
                &__wrapper {
                    @extend %scrollCss;
                    padding-bottom: rem(20px) !important;
                }

                &__figure {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: rem(12px);

                    &:last-child {
                        margin-right: 0;
                    }

                    iframe {
                        //208 117 176 99 192 108
                        width: rem(288px);
                        height: rem(162px);
                        border-radius: rem(6px);
                    }
                }
            }
        }
    }
}