.fb {
    &__filter {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        transform: translate(0, -100%);
        transition: all 0.9s ease-in-out;

        &.active {
            transform: translate(0, 0);

            .fb__filter__close {
                background: $filterPoint url("/assets/images/guide/ico-delete-white.svg") no-repeat center center / rem(10px 10px);
            }
        }

        &__wrapper {
            position: relative;
            font-size: 0;
        }

        &__bg {
            overflow: hidden;
            width: 100%;
            max-height: 80vh;
            background: $filterPoint;
            border: {
                bottom-left-radius: rem(30px);
                bottom-right-radius: rem(30px);
            };
            color: $white;
            font-size: rem(14px);
            box-shadow: rem(0 0 2px 2px) rgba(0, 0, 0, 0.9);
        }

        &__close {
            position: absolute;
            bottom: rem(-52px);
            right: rem(24px);
            z-index: 1;
            width: rem(32px);
            height: rem(32px);
            background: rgba(70, 0, 0, 1) url("/assets/images/common/ico_search_filter.png") no-repeat center center / rem(auto 24px);
            border-radius: 50%;
            box-shadow: rem(0 0 2px 2px) rgba(0, 0, 0, 0.9);
        }

        &__top {
            position: relative;
            padding: rem(20px 0);
        }

        &__nav {
            position: absolute;
            top: rem(14px);
            right: rem(30px);
        }

        &__apply {
            box-shadow: rem(0 0 3px) $medium;
            padding-left: rem(10px);
            background: $bright;
            border-radius: rem(10px);

            span {
                display: inline-block;
                vertical-align: middle;
                @include fontcss($filterPoint, 600, rem(10px), 1.2);
            }
            
            &:after {
                content: "";
                display: inline-block;
                width: rem(32px);
                height: rem(32px);
                border-radius: 50%;
                background: url("/assets/images/common/icon-checkbox-filter.svg") no-repeat center center / rem(auto 14px);
                vertical-align: middle;
            }
        }

        &__title {
            display: block;
            @include fontcss($bright, 200, rem(14px), 1.2);
            text-align: center;
        }

        &__form {
            overflow-y: auto; 
            max-height: rem(500px);
            padding: rem(8px 20px 24px);
        }

        &__list {
            margin: rem(0 0 16px);
        }

        &__providers {
            .fb__filter__flex {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                width: 100%;
                font-size: 0;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            input {
                display: none;

                &:checked + span {
                    background: $white;
                    color: $filterPoint;
                }
            }

            .providers {
                &__list {
                    flex: 0 0 calc(25% - #{rem(8px)});
                    margin: rem(0 4px);
                }

                &__logo {
                    overflow: hidden;
                    display: block;
                    width: rem(80px);
                    height: rem(80px);
                    border-radius: rem(6px);
                    @include imageResize("width");
                }

                &__name {
                    display: block;
                    padding: rem(8px 0 0);
                    text-align: center;
                    @include fontcss($medium, 400, rem(12px), 1.2);
                }
            }
        }

        &__genre {
            .fb__filter__flex {
                display: flex;
                flex-wrap: wrap;
                font-size: 0;
            }

            label {
                display: inline-block;
                flex: 0 0 50%;
                margin: rem(0 0 12px);
            }

            input {
                display: none;

                &:checked + span {
                    box-shadow: rem(0 0 3px) $bright;
                    // border: 1px solid $white;
                    background: none;
                    color: $white;
                    font-weight: 400;
                }
            }

            span {
                display: inline-block;
                padding: rem(5px 10px);
                border: none;
                border-radius: rem(20px);
                @include fontcss($medium, 400, rem(14px), 1.2);
            }
        }

        &__name {
            @include fontcss($bright, 400, rem(13px), rem(24px));
        }

        &__box {
            padding-top: rem(12px);
        }
        
        &__bottom {
            display: flex;
            justify-content: center;
            margin: rem(32px -4px 8px);

            button {
                margin: rem(0 4px);
                // padding: rem(10px 0);
                // border-radius: rem(20px);
            }
        }

        &__reset {
            width: rem(40px);
            height: rem(40px);
            // border: rem(2px) solid $white;
            box-shadow: rem(0 0 3px) $bright;
            border-radius: 50%;
            background: rgba(70, 0, 0, 1) url("/assets/images/common/icon-checkbox.svg") no-repeat center center / rem(auto 18px);
            font-size: 0;
        }
    }
}